body {
  /*background-color: black;*/
}

.navbar-default {
  background-color: black;
  border-bottom-width: 5px;
  border-color: black;
  border-bottom-color: #ab1212;
}

.nav-class:hover {
  background-color: rgba(171, 18, 18, 0.39);
}

.nav-text {
  color:white !important ;
}

.nav-class.active {
  background-color: #ab1212;
}

.header {
  border-bottom: 0px;
}

.glyphicon-heart {
  color: #ab1212;
}

.footer {
  border-top-color: #ab1212;
}
